deps
c_interop/*.o
c_interop/*.so
shaders/spirv
c_interop/out
.task
c_interop/build
node_modules
src/protocols
bin
pkg
.DS_Store
Taskfile.yml
taskfile.yml
Taskfile.yaml
taskfile.yaml
Appdir
dist
resources/npm_licenses.txt
.podman
.podman-run

resources/out/bunterm

