[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=term.everything!mmulet.com
Categories=Utility;
Name=term.everything❗mmulet.com
Icon=icon